<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/ageron/handson-ml3/blob/main/tools_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/ageron/handson-ml3/blob/main/tools_numpy.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>


# Clase 1


## **Presentación del programa y nociones básicas de Python para el análisis de datos sociales**

---


# Análisis de datos sobre clases sociales y estratificación

## Clase 1: Introducción a Python y al análisis de datos sociales


**Curso:** Análisis de datos sobre clases sociales y estratificación con Python, Stata e IA (ChatGPT) 
**Modalidad:** Presencial  
**Fecha:** 24 de diciembre de 2025  
**Docente:** Marco Julio Cañas  
**Duración:** 3 horas  

---


## Objetivos de la clase

Al finalizar esta sesión, el estudiante será capaz de:


- Comprender el propósito general del seminario y su enfoque metodológico.

- Reconocer el rol de Python en el análisis de datos sociales.

- Utilizar Google Colab como entorno de trabajo y también el entorno de trabajo en local llamado Visual Studio Code.

- Identificar librerías básicas para análisis de datos.(NumPy, Pandas y Matplotlib)

- Manipular objetos elementales en Python.

- Usar un asistente de IA (Como ChatGPT) como apoyo inicial para la programación.


# 1. Presentación del seminario (Markdown)


## 1. Presentación del seminario

Este seminario introduce al análisis empírico de las desigualdades sociales desde una perspectiva de:

- Clases sociales
- Género
- Origen étnico
- Cohortes de edad


Trabajaremos con **bases de datos de encuestas sociales**, utilizando:


- **Python** (procesamiento y visualización)
- **Stata** (análisis estadístico)
- **Herramientas de Inteligencia Artificial** como apoyo para scripting y documentación


El énfasis estará en:
- La práctica
- La reproducibilidad
- La articulación entre teoría social y evidencia empírica



## 2. ¿Por qué Python en el análisis de datos sociales?

Python es un lenguaje de programación ampliamente utilizado en:

- Ciencia de datos
- Economía
- Sociología cuantitativa
- Políticas públicas


Ventajas:
- Es gratuito y de código abierto
- Permite análisis reproducibles
- Se integra con otros softwares (Excel, Stata, R)
- Facilita la visualización de datos
- Se complementa muy bien con herramientas de IA


---


# 3. Introducción a Google Colab


## 3. Google Colab como entorno de trabajo


[Google Colab](https://colab.research.google.com/) permite:


- Ejecutar Python desde el navegador
- No requiere instalación local
- Guardar notebooks en Google Drive
- Compartir y trabajar colaborativamente

En este curso:
- Usaremos Colab y/o Visual Studio Code
- Todos los análisis deberán ser reproducibles



# 4. Primeros pasos en Python (Código)

In [1]:

# Esto es un comentario en Python
print("Hola, este es nuestro primer script en Python")

Hola, este es nuestro primer script en Python

In [3]:
print('Hola a todos')

Hola a todos

## 5. Objetos y tipos de datos básicos



## 5. Objetos y tipos de datos básicos

En Python, todo es un objeto.


Tipos de datos básicos:
- Enteros (int)
- Decimales (float)
- Texto (str)
- Booleanos (bool)



---

# 6. Ejemplos de objetos en Python (Código)

In [ ]:
# Variables numéricas entera 
# Cómo crear una variable de tipo entero o int 
edad = 50

In [ ]:
# Cómo imprimir en pantalla el valor de una variable
edad

50

In [ ]:
# cómo establecer el tipo de variable 
type(edad)

int

In [9]:
ingreso = 2500000.0

In [10]:
ingreso

2500000.0

In [11]:
type(ingreso)

float

In [12]:

# Variable de texto
clase_social = "clase media"

In [13]:
clase_social

'clase media'

In [14]:
type(clase_social)

str

In [15]:

# Variable booleana
ocupado = False

In [16]:
ocupado

False

In [17]:
type(ocupado)

bool

In [18]:

edad, ingreso, clase_social, ocupado

(50, 2500000.0, 'clase media', False)


## 7. Introducción a librerías


## 7. Librerías en Python


Una librería es un conjunto de funciones y herramientas ya creadas.

En este curso usaremos principalmente:
- pandas → manejo de datos
- numpy → operaciones numéricas, vectoriales y matriciales. 
- matplotlib → visualización


# 8. Importación de librerías básicas (Código)

In [13]:

import pandas as pd

In [14]:
import numpy as np

In [15]:
import matplotlib.pyplot as plt


# 9. Primer DataFrame


## 9. ¿Qué es un DataFrame?


Un DataFrame es una estructura de datos tabular, similar a:
- Una hoja de Excel
- Una tabla de Stata


Es el objeto central para trabajar con encuestas sociales.


# 10. Creación de un DataFrame simple (Código)

In [16]:
# Cómo crear una lista de Python 

lista_paises = ["Colombia", "México", "Argentina", "Perú", "Chile"]

In [17]:
# Cómo crear un diccionario en Python
datos = {
    "edad": [25, 40, 32, 50],
    "genero": ["Mujer", "Hombre", "Mujer", "Hombre"],
    "ingreso": [1_200_000, 3_000_000, 1_800_000, 4_500_000]
}

In [18]:
datos

{'edad': [25, 40, 32, 50],
 'genero': ['Mujer', 'Hombre', 'Mujer', 'Hombre'],
 'ingreso': [1200000, 3000000, 1800000, 4500000]}

In [19]:

df = pd.DataFrame(datos)
df

   edad  genero  ingreso
0    25   Mujer  1200000
1    40  Hombre  3000000
2    32   Mujer  1800000
3    50  Hombre  4500000

## [Video hasta creación de dataframe](https://www.youtube.com/watch?v=5b-WGovcRDg)


# 11. Exploración inicial de datos


## 11. Exploración inicial de una base de datos


Primeras preguntas típicas:
- ¿Cuántas observaciones hay? (`df.shape[0]`)
- ¿Qué variables contiene? (`df.columns`)
- ¿Qué tipo de variables son? (`df.dtypes`)
-  ¿Hay valores faltantes? (`df.isnull().sum()`)


# 12. Exploración básica en Python (Código)

In [21]:


df.shape

(4, 3)

In [22]:


df.columns

Index(['edad', 'genero', 'ingreso'], dtype='object')

In [23]:
len(df.columns)

3

In [24]:


df.head()

   edad  genero  ingreso
0    25   Mujer  1200000
1    40  Hombre  3000000
2    32   Mujer  1800000
3    50  Hombre  4500000

In [30]:
df.isnull().sum()

edad       0
genero     0
ingreso    0
dtype: int64

# 13. Uso introductorio de IA como asistente


## 13. Uso de Inteligencia Artificial como asistente

Durante el curso, la IA se utilizará como:

- Asistente para escribir código: Con ChatGPT 
- Traductor entre Python y Stata: ChatGPT
- Apoyo para entender errores: con Chat GPT.


# Importante:
- La IA **no reemplaza** el criterio teórico ni metodológico

- Los resultados deben ser comprendidos y validados por el estudiante


# 14. Actividad práctica de cierre


## 14. Actividad práctica

1. Crear un DataFrame con:
   - Edad
   - Nivel educativo
   - Clase social

2. Explorar el DataFrame usando:
   - `.head()`
   - `.shape`
   - `.columns`

3. Pedir a un asistente de IA que explique cada línea del código.

In [31]:
datos_diccionario = {'edad':[4, 7 , 10, 15],
                     'nivel_educativo': ['preescolar', 'primaria', 'secundaria', 'Universidad'], 
                     'clase_social': ['baja', 'media', 'media', 'alta']}

In [32]:
df = pd.DataFrame(datos_diccionario)
df

   edad nivel_educativo clase_social
0     4      preescolar         baja
1     7        primaria        media
2    10      secundaria        media
3    15     Universidad         alta

In [33]:
df.head()

   edad nivel_educativo clase_social
0     4      preescolar         baja
1     7        primaria        media
2    10      secundaria        media
3    15     Universidad         alta

In [34]:
df.shape

(4, 3)

In [35]:
df.columns

Index(['edad', 'nivel_educativo', 'clase_social'], dtype='object')

[video de exploración de un dataframe](https://www.youtube.com/watch?v=G45Fp3Ujr5Q)¡Felicidades por completar la primera clase! Nos vemos en la próxima sesión.


# 15. Cierre de la clase


## 15. Cierre

En esta clase aprendimos:
- El propósito general del seminario
- Qué es Python y por qué usarlo
- Qué es un DataFrame
- Cómo iniciar un análisis reproducible


En la próxima clase:  
* Procesamiento y edición de bases de datos  
* Traducción entre Python, Excel y Stata


# Observación pedagógica final

Este cuaderno:

* Está diseñado para **primer contacto**
* Reduce carga cognitiva
* Puede ser **reutilizado y ampliado**
* Es ideal para repositorio GitHub del curso

---

# Qué es STATA y Diferencias entre STATA y Python

Esta es una comparación entre Python y STATA: 

1. qué es **Stata** y por qué es central en el análisis de encuestas sociales,

2. qué “hace” Stata en este curso (conceptualmente),

3. **qué librerías de Python replican esas funciones**, y

4. **ejemplos comparativos Stata ↔ Python** pensados exactamente para tu seminario.


## 1. ¿Qué es STATA y por qué es tan usado en ciencias sociales?


**Stata** es un software especializado en **análisis estadístico aplicado**, muy extendido en:

* Sociología cuantitativa
* Economía
* Demografía
* Ciencia política
* Salud pública


# Rasgos clave de Stata

* Pensado para **datos de encuestas**
* Sintaxis **declarativa y compacta**

* Excelente manejo de:

  * Variables categóricas
  * Etiquetas
  * Datos faltantes
  * Modelos de regresión

* Documentación e interpretación orientada a investigadores sociales

* Estándar en revistas académicas


En términos pedagógicos:

> **Stata “oculta” complejidad computacional para enfatizar la interpretación sociológica.**

---


## 2. ¿Qué hace STATA en este curso? (nivel conceptual)

En tu seminario, Stata cumple **cuatro funciones centrales**:

### A. Gestión de datos de encuestas

* Importar/exportar bases
* Recodificar variables
* Crear variables complejas
* Etiquetar variables y valores


# B. Análisis descriptivo


* Frecuencias y porcentajes
* Medidas de tendencia central y dispersión
* Tablas de contingencia

# C. Modelización inferencial


* Regresión lineal (simple y múltiple)
* Regresión logística
* Odds ratios
* Contraste de modelos


# D. Interpretación sustantiva

* Resultados legibles
* Salida pensada para papers
* Puente directo con la teoría social

---


## 3. ¿Cómo “hacer lo mismo que Stata” con Python?

* **Idea clave del curso**  
  
  Python **no es un reemplazo natural de Stata**, pero **puede replicar todas sus funciones** combinando librerías especializadas.


# Equivalencia conceptual


| Función de Stata        | Librería(s) Python                      |
| ----------------------- | --------------------------------------- |
| Gestión de datos        | `pandas`                                |
| Estadística descriptiva | `pandas`, `numpy`                       |
| Tablas de contingencia  | `pandas`, `scipy`                       |
| Regresión lineal        | `statsmodels`                           |
| Regresión logística     | `statsmodels`                           |
| Odds ratios             | `statsmodels`, `numpy`                  |
| Gráficos                | `matplotlib`, `seaborn`                 |
| Encuestas complejas     | `statsmodels`, `linearmodels` (parcial) |

---


# 4. Comparaciones Stata ↔ Python (ejemplos del curso)


## 4.1 Importar datos de una encuesta


**Stata**


```stata
use encuesta.dta, clear
```


**Python**

A continuación te dejo un **script de Python completo y mínimo**, pensado **didácticamente para este curso**, que:


* Crea una **base de datos de encuesta simulada**
* Incluye **clase social, género y otros atributos clave de estratificación**
* Guarda el archivo como **`encuesta.dta`**
* Permite ejecutar sin problemas:


# Script de Python: creación de `encuesta.dta`

In [36]:
import pandas as pd
import numpy as np

In [37]:

# -------------------------------
# 1. Fijar semilla (reproducibilidad)
# -------------------------------
np.random.seed(42)

In [38]:

# -------------------------------
# 2. Número de observaciones
# -------------------------------
n = 100

In [39]:

# -------------------------------
# 3. Crear variables de encuesta
# -------------------------------

df = pd.DataFrame({

    # Identificador
    "id": range(1, n + 1),

    # Variables sociodemográficas
    "edad": np.random.randint(18, 65, size=n),

    # 1 = Mujer, 2 = Hombre
    "genero": np.random.choice([1, 2], size=n, p=[0.52, 0.48]),

    # Nivel educativo (ordinal)
    # 1 = Primaria
    # 2 = Secundaria
    # 3 = Técnica
    # 4 = Universitaria
    "educacion": np.random.choice([1, 2, 3, 4], size=n, p=[0.25, 0.35, 0.2, 0.2]),

    # Clase social (esquema simplificado)
    # 1 = Clase baja
    # 2 = Clase media
    # 3 = Clase alta
    "clase_social": np.random.choice([1, 2, 3], size=n, p=[0.4, 0.45, 0.15]),

    # Ingreso mensual (en pesos)
    "ingreso": np.random.normal(loc=2_500_000, scale=800_000, size=n).astype(int),

    # Condición de ocupación
    # 1 = Ocupado, 0 = No ocupado
    "ocupado": np.random.choice([0, 1], size=n, p=[0.25, 0.75])

})
df.head()

   id  edad  genero  educacion  clase_social  ingreso  ocupado
0   1    56       1          3             1  2588239        0
1   2    46       1          4             2  2155979        1
2   3    32       1          2             1  3484169        1
3   4    60       2          1             1  1467020        1
4   5    25       2          4             2  3743938        1

In [40]:
df.to_stata("datos_encuesta.dta", write_index=False)

In [41]:

import pandas as pd 
df = pd.read_stata("encuesta.dta")
df.head()

   id  edad  genero  educacion  clase_social  ingreso  ocupado
0   1    56       1          3             1  2588239        0
1   2    46       1          4             2  2155979        1
2   3    32       1          2             1  3484169        1
3   4    60       2          1             1  1467020        1
4   5    25       2          4             2  3743938        1


Este script lo puedes ejecutar **una sola vez** en Jupyter o Google Colab para generar el archivo.

---

In [42]:
df.ingreso.min()

np.int32(500000)

In [43]:
# -------------------------------
# 4. Asegurar ingresos positivos
# -------------------------------
df["ingreso"] = df["ingreso"].clip(lower=500000) # acotar inferiormente los ingresos 
df.head()

   id  edad  genero  educacion  clase_social  ingreso  ocupado
0   1    56       1          3             1  2588239        0
1   2    46       1          4             2  2155979        1
2   3    32       1          2             1  3484169        1
3   4    60       2          1             1  1467020        1
4   5    25       2          4             2  3743938        1

In [45]:
# -------------------------------
# 5. Guardar archivo en formato Stata
# -------------------------------
df.to_stata("encuesta.dta", write_index=False)

# -------------------------------
# 6. Verificación rápida
# -------------------------------
df.head()

   id  edad  genero  educacion  clase_social  ingreso  ocupado
0   1    56       1          3             1  2588239        0
1   2    46       1          4             2  2155979        1
2   3    32       1          2             1  3484169        1
3   4    60       2          1             1  1467020        1
4   5    25       2          4             2  3743938        1

# Variables incluidas (pensadas para el curso)


| Variable       | Tipo          | Uso didáctico          |
| -------------- | ------------- | ---------------------- |
| `id`           | Identificador | Control de casos       |
| `edad`         | Cuantitativa  | Cohortes, regresión    |
| `genero`       | Categórica    | Desigualdad de género  |
| `educacion`    | Ordinal       | Capital educativo      |
| `clase_social` | Categórica    | Estratificación social |
| `ingreso`      | Cuantitativa  | Desigualdad económica  |
| `ocupado`      | Binaria       | Regresión logística    |


# Cómo usarlo inmediatamente

Después de ejecutar el script:

In [50]:
import pandas as pd

df = pd.read_stata("datos_encuesta.dta")
df

     id  edad  genero  educacion  clase_social  ingreso  ocupado
0     1    56       1          3             1  2588239        0
1     2    46       1          4             2  2155979        1
2     3    32       1          2             1  3484169        1
3     4    60       2          1             1  1467020        1
4     5    25       2          4             2  3743938        1
..  ...   ...     ...        ...           ...      ...      ...
95   96    24       1          1             2  2312121        1
96   97    26       2          3             1  1710216        0
97   98    41       2          2             1  2107069        1
98   99    18       1          2             1  1532702        1
99  100    61       1          2             1  3771315        1

[100 rows x 7 columns]

El equivalente en **lenguaje STATA** del código en Python que muestras es muy directo, porque STATA trabaja de forma nativa con archivos `.dta`.

### Código original en Python

```python
import pandas as pd

df = pd.read_stata("datos_encuesta.dta")
df
```

### Equivalente en STATA

```stata
use "datos_encuesta.dta", clear
```

### Explicación didáctica (útil para tus estudiantes)

* `use`
  Carga un archivo de datos en memoria.
* `"datos_encuesta.dta"`
  Nombre del archivo STATA.
* `clear`
  Limpia cualquier dataset que esté cargado previamente en memoria.

En STATA **no es necesario un comando adicional para “mostrar” el dataframe**, ya que al ejecutar `use`, el dataset queda activo y visible en el **Data Editor**.
Si deseas **ver los datos explícitamente**, puedes usar:

```stata
browse
```

o, para una vista tipo consola:

```stata
list
```

### Analogía conceptual Python ↔ STATA

| Python (pandas)   | STATA          |
| ----------------- | -------------- |
| `pd.read_stata()` | `use`          |
| `df`              | Dataset activo |
| `df.head()`       | `list in 1/10` |
| `df.info()`       | `describe`     |

Si quieres, puedo ayudarte a **diseñar una tabla comparativa más amplia Python–STATA** para un cuaderno Jupyter o una guía didáctica para tus cursos de análisis de datos o métodos cuantitativos.

In [49]:
df.shape

(100, 7)


# Valor pedagógico para este seminario


Este dataset permite trabajar:

  * Análisis descriptivo
  * Tablas de contingencia
  * Regresión lineal
  * Regresión logística
  * Comparación Python ↔ Stata
  * Uso de IA para explicar scripts

---


# 4.2 Ver estructura de datos


**Stata**

```stata
describe
```


**Python**

In [51]:


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            100 non-null    int32
 1   edad          100 non-null    int32
 2   genero        100 non-null    int32
 3   educacion     100 non-null    int32
 4   clase_social  100 non-null    int32
 5   ingreso       100 non-null    int32
 6   ocupado       100 non-null    int32
dtypes: int32(7)
memory usage: 2.9 KB


# 4.3 Frecuencias (variable categórica)

**Stata**

```stata
tab genero
```


**Python**

In [52]:

df["genero"].value_counts()

genero
1    54
2    46
Name: count, dtype: int64


Con porcentajes:

In [54]:

df["genero"].value_counts(normalize=True)*100

genero
1    54.0
2    46.0
Name: proportion, dtype: float64


# 4.4 Medidas descriptivas


**Stata**

```stata
summarize ingreso
```


**Python**

In [55]:

df["ingreso"].describe()

count    1.000000e+02
mean     2.453579e+06
std      8.484276e+05
min      4.485260e+05
25%      1.836661e+06
50%      2.445868e+06
75%      2.924866e+06
max      5.103188e+06
Name: ingreso, dtype: float64



### 4.5 Tablas de contingencia


**Stata**

```stata
tab clase_social genero, row
```


**Python**

In [56]:
pd.crosstab(
    df["clase_social"],
    df["genero"],
    normalize="index"
) * 100

genero                1          2
clase_social
1             51.111111  48.888889
2             58.536585  41.463415
3             50.000000  50.000000



### 4.6 Regresión lineal simple


**Stata**

```stata
reg ingreso educacion
```


**Python (statsmodels)**

In [57]:
import statsmodels.formula.api as smf

modelo = smf.ols("ingreso ~ educacion", data=df).fit()
modelo.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                ingreso   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.010
Method:                 Least Squares   F-statistic:                   0.06031
Date:               mar, 23 dic. 2025   Prob (F-statistic):              0.807
Time:                        10:39:47   Log-Likelihood:                -1506.5
No. Observations:                 100   AIC:                             3017.
Df Residuals:                      98   BIC:                             3022.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.402e+06   2.26e+05     10.651      0.000    1.95e+06    2.85e+06
educacion   2.043e+04   8.32e+04      0.246      0.807   -1.45e+05    1.86e+05
==============================================================================
Omnibus:                        1.032   Durbin-Watson:                   2.210
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.796
Skew:                           0.218   Prob(JB):                        0.672
Kurtosis:                       3.031   Cond. No.                         8.02
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""


`statsmodels` replica casi exactamente la salida de Stata.

# Interpretación de resultados anteriores  

Te doy una **interpretación pedagógica, sociológicamente orientada y parámetro por parámetro** del **resumen (`summary`) de una regresión lineal** estimada con `statsmodels`, exactamente en el nivel que necesitan tus estudiantes para **entender qué hace Stata y cómo Python replica lo mismo**.

Partimos del modelo:

In [ ]:


import statsmodels.formula.api as smf

modelo = smf.ols("ingreso ~ educacion", data=df).fit()
modelo.summary()


Este modelo estima una **regresión lineal simple** donde:

* **Variable dependiente (Y):** `ingreso`
* **Variable independiente (X):** `educacion`

---


# 1. ¿Qué está estimando este modelo?

El modelo estadístico es:

$$
\text{ingreso}_i = \beta_0 + \beta_1 \cdot \text{educacion}_i + \varepsilon_i
$$

Interpretación sociológica:

> Estamos evaluando **cómo cambia el ingreso promedio** cuando aumenta el nivel educativo, asumiendo una relación lineal y promedio en la población observada.

---


# 2. Estructura general del `summary()`

El resumen se divide en **cuatro grandes bloques**:

1. Información general del modelo
2. Calidad global del ajuste
3. Tabla de coeficientes
4. Diagnósticos y supuestos

Voy bloque por bloque.

---


## 3. Bloque 1: Información general del modelo

Ejemplo típico:

```
Dep. Variable:                ingreso
Model:                            OLS
Method:                 Least Squares
Date:                ...
Time:                ...
No. Observations:                 100
Df Residuals:                      98
Df Model:                           1
```


### Interpretación

* **Dep. Variable:**
  Variable dependiente → `ingreso`

* **Model:**
  OLS (*Ordinary Least Squares*) → regresión lineal clásica

* **Method:**
  Mínimos Cuadrados Ordinarios

* **No. Observations:**
  Número de casos usados en el modelo

* **Df Model:**
  Número de variables independientes (1: `educacion`)

* **Df Residuals:**
  Grados de libertad de los residuos
  $$
  n - k - 1
  $$

---


## 4. Bloque 2: Calidad global del modelo

Ejemplo:

```
R-squared:                       0.35
Adj. R-squared:                  0.34
F-statistic:                    52.3
Prob (F-statistic):           0.0000
```


# Parámetros clave

## 🔹 R-squared (R²)


* Proporción de la variabilidad del ingreso explicada por educación.
* Ejemplo: `R² = 0.35`
  → El **35 % de la desigualdad del ingreso** se asocia al nivel educativo.

* No implica causalidad.

---


### 🔹 Adjusted R-squared

* Versión corregida por número de variables.
* Útil en modelos múltiples.
* Aquí será muy similar al R².

---


### 🔹 F-statistic

* Prueba global del modelo:

  > ¿El modelo explica más que un modelo sin predictores?

---


### 🔹 Prob (F-statistic)

* Valor p del test F.
* Si `p < 0.05`:
  → El modelo es **estadísticamente significativo** en conjunto.

---


## 5. Bloque 3: Tabla de coeficientes (el corazón del análisis)

Ejemplo típico:

```
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   800000.0  250000.0      3.20      0.002    300000.0   1300000.0
educacion   450000.0   62000.0      7.23      0.000    325000.0    575000.0
==============================================================================
```

Veamos **columna por columna**.

---


## Intercept (β₀)

* **coef:** ingreso esperado cuando `educacion = 0`
* En encuestas reales:

  * Puede no tener sentido sustantivo
  * Es un punto de referencia matemático

* Sociológicamente:

> Es el ingreso promedio del grupo con nivel educativo mínimo (o fuera de escala).

---


## educacion (β₁)

* **coef:** cambio promedio en ingreso por cada aumento de una unidad en educación.
* Ejemplo:

  > Cada nivel educativo adicional se asocia con **$450.000 pesos más** de ingreso mensual.

---


## std err (error estándar)

* Mide la **incertidumbre** del coeficiente.
* Menor error → estimación más precisa.

---


## t (estadístico t)

$$
t = \frac{\text{coef}}{\text{std err}}
$$


* Mide cuántos errores estándar se aleja de cero.

---


## P>|t| (valor p)

* Probabilidad de observar ese coeficiente si el verdadero efecto fuera cero.
* Regla práctica:

  * `p < 0.05` → evidencia estadística de asociación

---


## [0.025, 0.975] (intervalo de confianza 95 %)

* Rango plausible del verdadero coeficiente.
* Si **no incluye el 0**, el efecto es significativo.

---


## 6. Bloque 4: Diagnósticos del modelo

Ejemplo:

```
Omnibus:                        1.85
Prob(Omnibus):                  0.40
Durbin-Watson:                  2.01
Jarque-Bera (JB):               1.70
Prob(JB):                       0.42
Skew:                           0.15
Kurtosis:                       2.90
```


# Interpretación (nivel introductorio)

* **Durbin-Watson (~2):**

  * No hay autocorrelación fuerte en residuos.


* **Omnibus / Jarque-Bera:**

  * Pruebas de normalidad de residuos.
  * Si p > 0.05 → no hay evidencia fuerte de no-normalidad.

* Para cursos introductorios:

> Se reportan, pero **no se profundiza demasiado**.

---


## 7. Traducción directa a Stata (muy didáctica)

**Stata**

```stata
reg ingreso educacion
```

Los estudiantes verán:

* Coeficientes
* Error estándar
* t
* p-value
* R²

* **El mismo modelo, dos lenguajes.**

---


## 8. Interpretación sociológica sintética (ejemplo)


> El modelo de regresión lineal muestra una asociación positiva y estadísticamente significativa entre el nivel educativo y el ingreso mensual.

> En promedio, cada aumento en el nivel educativo se asocia con un incremento sustantivo del ingreso, lo que sugiere que la educación continúa siendo un mecanismo central de estratificación económica.

> No obstante, el modelo explica solo una parte de la variabilidad del ingreso, lo que indica la necesidad de incorporar otras dimensiones como clase social, género y trayectoria laboral.

---


## 9. Mensaje pedagógico clave para tus estudiantes

> **El summary no es un resultado, es un texto para ser interpretado.**
> La estadística responde preguntas teóricas; no las reemplaza.

---


Si quieres, el siguiente paso natural sería:

* Interpretar **un modelo múltiple** (`ingreso ~ educacion + genero + clase_social`)
* Comparar **OLS vs Logit**
* Construir una **plantilla de interpretación para trabajos prácticos**
* Hacer el **puente exacto Stata ↔ Python** línea por línea

Dime cómo seguimos.

# Visualización de los datos y del modelo de regresión lineal simple entrenado  

Perfecto, Marco. Te dejo una **visualización estándar, clara y didácticamente equivalente a la que verían en Stata**, usando **solo matplotlib**, donde aparecen:

1. **Los datos observados** (`educacion` vs `ingreso`)
2. **La recta estimada por el modelo OLS**

Asumo que ya tienes:

* Un `DataFrame df`
* El modelo ajustado:

In [ ]:

modelo = smf.ols("ingreso ~ educacion", data=df).fit()


---

## 1. Idea estadística de la visualización

Lo que vamos a graficar es:

$$
\hat{y} = \hat{\beta}_0 + \hat{\beta}_1 x
$$

* **Puntos** → datos reales de la encuesta
* **Línea** → ingreso promedio estimado por el modelo


Esto responde visualmente a la pregunta:

> ¿La educación está asociada con mayores ingresos y cómo de fuerte es esa relación?

---

## 2. Script completo en Python con matplotlib

In [12]:

import numpy as np
import matplotlib.pyplot as plt

# Variable independiente
X = df["educacion"]
# Variable dependiente
y = df["ingreso"]

# Valores predichos por el modelo
y_pred = modelo.predict(df)

# Crear la figura
plt.figure(figsize=(10, 6))

# Gráfico de dispersión: datos reales
plt.scatter(X, y)

# Recta de regresión
# Ordenamos para que la línea se vea continua
orden = np.argsort(X)
plt.plot(X.iloc[orden], y_pred.iloc[orden])

# Etiquetas y título
plt.xlabel("Nivel educativo")
plt.ylabel("Ingreso")
plt.title("Ingreso vs Educación con recta de regresión OLS")
plt.savefig(r"C:\Users\marco\Downloads\ingreso_educacion_regresion.png")
# Mostrar
plt.show()

NameError: name 'modelo' is not defined


## 3. Cómo explicar este gráfico en clase


## Puntos

Cada punto representa:

* Una persona (u hogar)
* Con un nivel educativo específico
* Y un ingreso observado


La dispersión vertical muestra:

> Que personas con el mismo nivel educativo pueden tener ingresos distintos
> (clase social, género, informalidad, experiencia, etc.).

---


## Línea de regresión

La línea representa:

> El **ingreso promedio esperado** para cada nivel educativo según el modelo.

* Pendiente positiva → asociación positiva
* Pendiente pronunciada → efecto fuerte
* Pendiente suave → efecto débil

---


# 4. Lectura sociológica rápida (ejemplo)

> Aunque se observa una tendencia positiva entre educación e ingreso, la alta dispersión de los puntos sugiere que la educación no es el único determinante del ingreso. Esto justifica la inclusión de variables adicionales como género, clase social o sector laboral en modelos posteriores.

---


## 5. Equivalente directo en Stata (para comparación)

```stata
scatter ingreso educacion || lfit ingreso educacion
```

**Mismo gráfico, mismo modelo, distinto lenguaje.**

---


## 6. Variante didáctica recomendada (opcional)

Para **clase 3 o 4 del curso**, puedes pedir a los estudiantes:

* Repetir el gráfico separando por `genero`
* Comparar dos rectas de regresión
* Discutir desigualdad estructural


### 4.7 Regresión lineal múltiple

**Stata**

```stata
reg ingreso educacion genero edad
```


**Python**

In [ ]:
modelo = smf.ols(
    "ingreso ~ educacion + genero + edad",
    data=df
).fit()

modelo.summary()


---

### 4.8 Regresión logística

**Stata**

```stata
logit ocupado educacion genero edad
```


**Python**

In [ ]:
modelo_logit = smf.logit(
    "ocupado ~ educacion + genero + edad",
    data=df
).fit()

modelo_logit.summary()


Odds ratios:

In [ ]:
import numpy as np

np.exp(modelo_logit.params)


# 5. Diferencia epistemológica clave (muy importante para el curso)


# Stata

* Pensado para **usuarios finales**
* Menos código, más resultados
* Ideal para:

  * Formación clásica en sociología
  * Producción rápida de resultados


### Python

* Pensado para **flujo completo de datos**
* Más explícito y modular
* Ideal para:

  * Reproducibilidad
  * Integración con IA
  * Visualización avanzada
  * Traducción entre softwares


* **Mensaje didáctico potente para tus estudiantes**:

> *Stata nos enseña a pensar el modelo; Python nos obliga a pensar el proceso.*

---


## 6. ¿Por qué enseñar ambos en este seminario?

Porque juntos permiten:

* Entender **qué hace el modelo** (Stata)
* Entender **cómo se construye el análisis** (Python)
* Traducir resultados entre lenguajes
* Usar IA para documentar y replicar análisis
* Formar investigadores **computacionalmente competentes**

---


# 7. Propuesta didáctica concreta (para tu curso)


En cada bloque del seminario:


1. **Primero Stata**

   * Concepto estadístico
   * Interpretación sociológica


2. **Luego Python**

   * Replicación del análisis
   * Visualización
   * Automatización


3. **Finalmente IA**

   * Explicación del código
   * Traducción Stata ↔ Python
   * Documentación del análisis

---

# Práctica de codificación sobre cómo crear un archivo .dta de Stata con Python

In [1]:
from numpy.random import seed, choice, randint, normal 
import pandas as pd

In [3]:
n = 10 
df = pd.DataFrame({
    "id": range(1,n+1),
    "edad": randint(18, 65, size=n),
    "genero": choice([1, 2], size=n, p=[0.40, 0.60]),
    "educacion": choice([1, 2, 3, 4], size=n, p=[0.25, 0.35, 0.2, 0.2]),
    "clase_social": choice([1, 2, 3], size=n, p=[0.40, 0.40, 0.20]),
    "ingreso": normal(loc=2_500_000, scale=800_000, size=n).astype(int),
    "ocupado": choice([0, 1], size=n, p=[0.25, 0.75])
})

In [6]:
df.head() 
df.index = df.id
df = df.drop(columns=["id"])

In [7]:
df

    edad  genero  educacion  clase_social  ingreso  ocupado
id
1     24       2          1             3  1917152        1
2     44       2          1             3  4257957        1
3     22       2          4             2  3157586        0
4     33       1          3             2  1420952        0
5     43       1          3             1  3184632        1
6     51       2          4             2  1474377        1
7     32       2          3             1  2104824        1
8     59       1          4             3  2176428        1
9     59       2          2             1  1933271        1
10    58       2          1             1  2744081        1

In [8]:
df.to_stata("datos_prueba.dta", write_index=True)

In [9]:
df = pd.read_stata("datos_prueba.dta")
df.head()

   id  edad  genero  educacion  clase_social  ingreso  ocupado
0   1    24       2          1             3  1917152        1
1   2    44       2          1             3  4257957        1
2   3    22       2          4             2  3157586        0
3   4    33       1          3             2  1420952        0
4   5    43       1          3             1  3184632        1

In [10]:
df.index = df.id
df = df.drop(columns=["id"])

In [11]:
df

    edad  genero  educacion  clase_social  ingreso  ocupado
id
1     24       2          1             3  1917152        1
2     44       2          1             3  4257957        1
3     22       2          4             2  3157586        0
4     33       1          3             2  1420952        0
5     43       1          3             1  3184632        1
6     51       2          4             2  1474377        1
7     32       2          3             1  2104824        1
8     59       1          4             3  2176428        1
9     59       2          2             1  1933271        1
10    58       2          1             1  2744081        1